<div class="navbar bg-base-100">
    <div class="flex-none">
        <img
            src="/img/logo.svg"
            alt="Radioactive"
            class="fill-current text-gray-900 w-8 h-8 mx-auto"/>
    </div>
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">NukeTwitter</a>
    </div>
    <div class="flex-none">
        <span>Stuff on the right</span>
    </div>
</div>
